$text-color: #000;

@import 'hamburger';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a,
button {
    transition: all .2s ease;
}

button {
    cursor: pointer;
}

img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
        flex-grow: 1;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    padding: 1.25rem 8.4375rem;
    background-color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_logo {
    width: 8.86206rem;
    height: 0.75rem;

    img {
        width: 8.86206rem;
        height: 0.75rem;
    }

}

.header_many {
    display: flex;
    gap: 2.625rem;

    a {
        font-family: Lato;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.2625rem;
        text-transform: uppercase;
        color: $text-color;
    }
}

.header_many nav ul {
    display: flex;
    gap: 2.625rem;
    align-items: center;
}

.search_btn {
    border: none;
    background-color: none;
    cursor: pointer;
}

//@media screen(max-width: 1440 px) and (min-width: 768px) {
//  .header {
//padding: padding: 0.4375rem 0rem;
//  }

//}

.hero {
    background-color: #ddeaf9;
    background-image: url('../img/backgroun\ img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100dvh - 100px);
    min-height: 500px;

    .container {
        padding-top: 100px;
    }
}

h1 {
    font-family: "Red Hat Display";
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 0.15rem;
    max-width: 770px;
    padding-top: 100px;
}