* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}
ul, ol {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #070707;
    font-size: 1.125rem;
}

.container {
    width: min(90%, 970px);
    margin-inline: auto;
}

header .container {
    padding: 27.5px 0;
    border-bottom: 1px solid #828282;
}

.main-many ul {
    text-align: center;
    font-size: 0;
}

.main-many ul li {
    display: inline-block;
}

.main-many ul li+li {
    margin-left: 40px;
}

.main-many ul li a {
    font-size: 1.125rem;
    color: #828282;
    text-decoration: none;
}

.main-many ul li a:hover,
.main-many ul li a.active {
    color: #070707;
}

.first-section {
    padding: 12px 0 0 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

section, footer {
    padding: 100px 0;
}

.bg-gray {
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    font-size: 2.125rem;
    margin-bottom: 50px;
}

.content {
    max-width: 480px;
    margin-inline: auto;
}
.content p + p {
    margin-top: 30px;
}
.content P:not(:last-child) {
    margin-bottom: 50pxs;
}

hgroup {
    text-align: center;
    margin-bottom: 50px;
}

hgroup h2 {
    margin-bottom: 20px;
}

.skills-list {
    font-size: 0;    
}

.skills-list li {
    display: inline-blockss;
    width: 170px;
}

.skills-list li:not(:last-child) {
    margin-right: 97px;
}